{% extends 'base.html' %}

{% block title %}Algo Articles{% endblock title %}

{% block content %}
    {% if user.is_authenticated %}
    <div class="row align-items-start">
        <div class="col-3">
            <div class="new-post">
                <a href="{% url 'article_new' %}">+ Create an article</a>
                    
            </div>
        </div>
        <div class="col-9">
            {% for article in object_list %}
            <div class="article-entry-list">
                <h4>
                    <a href="{% url 'article_detail' article.pk %}">{{ article.title }}</a>
                </h4>
                <p>article by: {{ article.author }}</p>
                <p>{{ article.body }}</p>
            </div>
        
            {% endfor %}
        </div>
    </div>
    {% else %}
        <p>You are not logged in. Please log in or sign up by clicking the log in or sign up button in the upper right corner.</p>

    {% endif %}
{% endblock content %}